/*spritePosition*/

.sprite-0a1-01 {
    width: 128px;
    height: 191px;
    background-position: -5px -5px;
}

.sprite-0a2-01 {
    width: 128px;
    height: 191px;
    background-position: -143px -5px;
}

.sprite-0a3-01 {
    width: 128px;
    height: 191px;
    background-position: -281px -5px;
}

.sprite-0a4-01 {
    width: 128px;
    height: 191px;
    background-position: -419px -5px;
}

.sprite-0b1-10 {
    width: 128px;
    height: 191px;
    background-position: -557px -5px;
}

.sprite-0b1-11 {
    width: 128px;
    height: 191px;
    background-position: -695px -5px;
}

.sprite-0b1-12 {
    width: 128px;
    height: 191px;
    background-position: -833px -5px;
}

.sprite-0b1-13 {
    width: 128px;
    height: 191px;
    background-position: -971px -5px;
}

.sprite-0b2-10 {
    width: 128px;
    height: 191px;
    background-position: -1109px -5px;
}

.sprite-0b2-11 {
    width: 128px;
    height: 191px;
    background-position: -5px -206px;
}

.sprite-0b2-12 {
    width: 128px;
    height: 191px;
    background-position: -143px -206px;
}

.sprite-0b2-13 {
    width: 128px;
    height: 191px;
    background-position: -281px -206px;
}

.sprite-0b3-10 {
    width: 128px;
    height: 191px;
    background-position: -419px -206px;
}

.sprite-0b3-11 {
    width: 128px;
    height: 191px;
    background-position: -557px -206px;
}

.sprite-0b3-12 {
    width: 128px;
    height: 191px;
    background-position: -695px -206px;
}

.sprite-0b3-13 {
    width: 128px;
    height: 191px;
    background-position: -833px -206px;
}

.sprite-0b4-10 {
    width: 128px;
    height: 191px;
    background-position: -971px -206px;
}

.sprite-0b4-11 {
    width: 128px;
    height: 191px;
    background-position: -1109px -206px;
}

.sprite-0b4-12 {
    width: 128px;
    height: 191px;
    background-position: -5px -407px;
}

.sprite-0b4-13 {
    width: 128px;
    height: 191px;
    background-position: -143px -407px;
}

.sprite-1-02 {
    width: 128px;
    height: 191px;
    background-position: -281px -407px;
}

.sprite-1-03 {
    width: 128px;
    height: 191px;
    background-position: -419px -407px;
}

.sprite-1-04 {
    width: 128px;
    height: 191px;
    background-position: -557px -407px;
}

.sprite-1-05 {
    width: 128px;
    height: 191px;
    background-position: -695px -407px;
}

.sprite-1-06 {
    width: 128px;
    height: 191px;
    background-position: -833px -407px;
}

.sprite-1-07 {
    width: 128px;
    height: 191px;
    background-position: -971px -407px;
}

.sprite-1-08 {
    width: 128px;
    height: 191px;
    background-position: -1109px -407px;
}

.sprite-1-09 {
    width: 128px;
    height: 191px;
    background-position: -5px -608px;
}

.sprite-2-02 {
    width: 128px;
    height: 191px;
    background-position: -143px -608px;
}

.sprite-2-03 {
    width: 128px;
    height: 191px;
    background-position: -281px -608px;
}

.sprite-2-04 {
    width: 128px;
    height: 191px;
    background-position: -419px -608px;
}

.sprite-2-05 {
    width: 128px;
    height: 191px;
    background-position: -557px -608px;
}

.sprite-2-06 {
    width: 128px;
    height: 191px;
    background-position: -695px -608px;
}

.sprite-2-07 {
    width: 128px;
    height: 191px;
    background-position: -833px -608px;
}

.sprite-2-08 {
    width: 128px;
    height: 191px;
    background-position: -971px -608px;
}

.sprite-2-09 {
    width: 128px;
    height: 191px;
    background-position: -1109px -608px;
}

.sprite-3-02 {
    width: 128px;
    height: 191px;
    background-position: -5px -809px;
}

.sprite-3-03 {
    width: 128px;
    height: 191px;
    background-position: -143px -809px;
}

.sprite-3-04 {
    width: 128px;
    height: 191px;
    background-position: -281px -809px;
}

.sprite-3-05 {
    width: 128px;
    height: 191px;
    background-position: -419px -809px;
}

.sprite-3-06 {
    width: 128px;
    height: 191px;
    background-position: -557px -809px;
}

.sprite-3-07 {
    width: 128px;
    height: 191px;
    background-position: -695px -809px;
}

.sprite-3-08 {
    width: 128px;
    height: 191px;
    background-position: -833px -809px;
}

.sprite-3-09 {
    width: 128px;
    height: 191px;
    background-position: -971px -809px;
}

.sprite-4-02 {
    width: 128px;
    height: 191px;
    background-position: -1109px -809px;
}

.sprite-4-03 {
    width: 128px;
    height: 191px;
    background-position: -5px -1010px;
}

.sprite-4-04 {
    width: 128px;
    height: 191px;
    background-position: -143px -1010px;
}

.sprite-4-05 {
    width: 128px;
    height: 191px;
    background-position: -281px -1010px;
}

.sprite-4-06 {
    width: 128px;
    height: 191px;
    background-position: -419px -1010px;
}

.sprite-4-07 {
    width: 128px;
    height: 191px;
    background-position: -557px -1010px;
}

.sprite-4-08 {
    width: 128px;
    height: 191px;
    background-position: -695px -1010px;
}

.sprite-4-09 {
    width: 128px;
    height: 191px;
    background-position: -833px -1010px;
}

.sprite-5bg {
    width: 128px;
    height: 191px;
    background-position: -971px -1010px;
}

.sprite-chip001 {
    width: 200px;
    height: 200px;
    background-position: -1247px -5px;
}

.sprite-chip010 {
    width: 200px;
    height: 200px;
    background-position: -1247px -215px;
}

.sprite-chip050 {
    width: 200px;
    height: 200px;
    background-position: -1247px -425px;
}

.sprite-chip100 {
    width: 200px;
    height: 200px;
    background-position: -1247px -635px;
}
