html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
article,
section {
  margin: 0;
  padding: 0;
}
body {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
li {
  display: inline-block;
  list-style: none;
}
a {
  text-decoration: none;
}
.clearfix:after {content:"."; display:block; height:0; visibility:hidden; clear:both; } 
.clearfix { *zoom:1;clear: both; } 


body {
  background: #f6f5f4;
}
header {
  position: relative;
  background: #75D7D9;
  color: #fff;
  width: 100%;
}

header a{
  position: absolute;
  left: 0.5rem;
  color: #fff;
  line-height: 3;
  font-size: 1.5rem;
}
header h1{
  line-height: 2.3;
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
}
nav{
  background: #fff;
}
nav ul{
  display: flex;
  display: -webkit-flex;
  justify-content:space-around;
  -webkit-justify-content:space-around;
  flex-flow:row nowrap;
  -webkit-flex-flow:row nowrap;
}
nav ul li{
  width: 18.8%;
  font-size: 1.5rem;
  line-height: 3;
  color: #666;
  text-align: center;
}
nav ul li:nth-child(2){
  border-bottom: #75D7D9 8px solid;
}
.banner{
  background: #fff;
}
.banner img{
  width: 100%;
}

ul.tags{
  background: #fff;
  display: flex;
  display: -webkit-flex;
  justify-content:space-around;
  -webkit-justify-content:space-around;
  flex-flow:row nowrap;
  -webkit-flex-flow:row nowrap;
  padding-bottom: 3.2rem;
}
ul.tags li{
  width: 18.8%;
}
ul.tags li img{
  width: 100%;
}
ul.tags li span{
  display: block;
  font-size: 0.9rem;
  color: #333;
  text-align: center;
}
div.land{
  background: #fff;
}
.land ul{
  width:94%;
  display: flex;
  display: -webkit-flex;
  justify-content:space-around;
  -webkit-justify-content:space-around;
  flex-flow:row nowrap;
  -webkit-flex-flow:row nowrap;
  align-items:flex-end;
  border-top:3px solid #eee; 
  margin: 0 auto;
}
.land ul li{
  width: 31.685%;
  margin: 2.5rem 0;
  text-align: center;

}
.land ul li:nth-child(2){
  border-left:3px solid #eee;
  border-right:3px solid #eee;
}
.land ul li img{
  width: 60%;
}
.land ul li h1{
  font-size: 1rem;
  font-weight: normal;
  color: #333;
}
.land ul li h3{
  font-size: 1rem;
  font-weight: normal;
  color: #666;
  line-height: 2.6;
}
.module{
  margin-top: 2.2rem;
  background: #fff;
}

.module h1{
  width:94%; 
  margin: 0 auto;
  font-size: 2rem;
  font-weight: normal;
  color: #666;
  line-height: 2.8;
  border-bottom: 3px solid #eee;
}
.module>div{
  width:94%; 
  margin: 0 auto;
  padding-top: 2.2rem;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  justify-content:space-between;
  -webkit-justify-content:space-between;
  flex-flow:row wrap;
  -webkit-flex-flow:row wrap;
}
.waimg {
  width: 30%;
}
.waimg img{
  width: 100%;
  display: block;
  margin-bottom: 1rem;
}
.text{
  width: 68%;
  display: -webkit-box;
  display: flex;
  display: -webkit-flex;
  justify-content:space-between;
  -webkit-justify-content:space-between;
  flex-flow:row wrap;
  -webkit-flex-flow:row wrap;
}
.text span{
  display: inline-block;
  width: 48%;
  background: #F8F8F8;
  font-size: 1.2rem;
  color: #484848;
  text-align: center;
  line-height: 2.1;
  margin-bottom: 1rem;
}
article{
  margin: 2.2rem 0;
}
section{
  margin-bottom: 0.3rem;
  background: #fff;
  padding: 2rem 0;
}
section div.title,section div.title1{
  width: 94%;
  margin: 0 auto;
  position: relative;
}
section div.title img{
  width: 34%;
  float: left;
  margin-right: 1rem;
}
section div.art_des{
  height: 100%;
}
section  h1{
  font-size: 1.5rem;
  font-weight: normal;
  color: #666;
}
section div.title span{
  color: #ccc;
  font-size: 1rem;
  position: absolute;
  left: 34%+1rem;
  bottom: 0;
}

section:last-child ul.art_img{
  margin: 1rem 0;
  display: flex;
  display: -webkit-flex;
  justify-content:space-between;
  -webkit-justify-content:space-between;
  flex-flow:row nowrap;
  -webkit-flex-flow:row nowrap;
}
section:last-child ul.art_img li{
  width: 32%;
}
section:last-child ul.art_img li img{
  width: 100%;
}

section:last-child span{
  color: #ccc;
  font-size: 1rem;
}

